<?xml version="1.0"?>

<ruleset name="WordPress Pay Event Espresso legacy rules">
	<config name="installed_paths" value="vendor/wp-coding-standards/wpcs,vendor/wimg/php-compatibility" />

	<config name="minimum_supported_wp_version" value="4.7" />

	<config name="testVersion" value="5.3-99.0" />

	<rule ref="PHPCompatibility" />

	<rule ref="WordPress">
		<exclude name="Generic.Files.LowercasedFilename.NotFound" />

		<exclude name="Squiz.Commenting" />

		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />

		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.serialize_unserialize" />

		<exclude name="WordPress.XSS.EscapeOutput" />

		<exclude name="WordPress.VIP.FileSystemWritesDisallow.file_ops_touch" />
		<exclude name="WordPress.VIP.FileSystemWritesDisallow.FileWriteDetected" />
		<exclude name="WordPress.VIP.RestrictedFunctions.wp_redirect_wp_redirect" />
		<exclude name="WordPress.VIP.SuperGlobalInputUsage.AccessDetected" />
	</rule>

	<rule ref="WordPress.CSRF.NonceVerification.NoNonceVerification">
		<exclude-pattern>/src/Extension.php</exclude-pattern>
	</rule>
</ruleset>
