<?xml version="1.0"?>

<ruleset name="WordPress Pay Event Espresso legacy rules">
	<config name="minimum_supported_wp_version" value="4.7" />

	<config name="testVersion" value="5.6-" />

	<file>.</file>

	<arg name="colors"/>
	<arg name="extensions" value="php" />
	<arg value="sp" />

	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>wordpress/*</exclude-pattern>
	<exclude-pattern type="relative">^wp-content/*</exclude-pattern>

	<rule ref="PHPCompatibilityWP" />

	<rule ref="WordPress">
		<exclude name="Generic.Files.LowercasedFilename.NotFound" />

		<exclude name="Squiz.Commenting" />

		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />

		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.serialize_unserialize" />

		<exclude name="WordPress.Security.NonceVerification.Recommended" />

		<exclude name="WordPress.VIP.FileSystemWritesDisallow.file_ops_touch" />
		<exclude name="WordPress.VIP.FileSystemWritesDisallow.FileWriteDetected" />
		<exclude name="WordPress.VIP.RestrictedFunctions.wp_redirect_wp_redirect" />
		<exclude name="WordPress.VIP.SuperGlobalInputUsage.AccessDetected" />
	</rule>

	<rule ref="WordPress.Security.NonceVerification.NoNonceVerification">
		<exclude-pattern>/src/Extension.php</exclude-pattern>
	</rule>
</ruleset>
