<?xml version="1.0"?>

<ruleset name="WordPress Pay Event Espresso legacy rules">
	<file>.</file>

	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>

	<rule ref="PronamicWP">
		<exclude name="Squiz.Commenting" />

		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.serialize_unserialize" />

		<exclude name="WordPress.Security.NonceVerification.Recommended" />

		<exclude name="WordPress.VIP.FileSystemWritesDisallow.file_ops_touch" />
		<exclude name="WordPress.VIP.FileSystemWritesDisallow.FileWriteDetected" />
		<exclude name="WordPress.VIP.RestrictedFunctions.wp_redirect_wp_redirect" />
		<exclude name="WordPress.VIP.SuperGlobalInputUsage.AccessDetected" />

		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.file_ops_touch" />

		<exclude name="WordPressVIPMinimum.Hooks.AlwaysReturnInFilter.MissingReturnStatement" />
	</rule>

	<rule ref="WordPress.Security.NonceVerification.NoNonceVerification">
		<exclude-pattern>/src/Extension.php</exclude-pattern>
	</rule>
</ruleset>
